.containerwrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

.back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.item {
  border: 2px solid #fff;
  border-radius: 4px;
}

#cartbuybutton {
  background-color: #fff;
  outline: none;
  padding: 5px 5px;
  border: none;
  color: #212529;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 4px;
}

#cartbuybutton:hover {
  background-color: #1a4db3;
  padding-right: 15px;
  color:#fff;
}

.itemtitle {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  padding: 10px;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  opacity: 0.8;
}

.itemdescription {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 223px);
  }
}